:root{
    --primary-color: #312E81;
    --dark-grey:#6B7280;
    --light-grey:#F3F4F6;
    --font-size: 1.44rem;
    --font-size2: 2rem;
    --brnad-font-size: 1.7rem;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

/**Container**/
.container{
    padding: 0rem 1rem;
    border-radius: 1em;
}
.container-center{
    max-width: 600px;
    margin: auto; 
}
.div-content{
    margin: 2rem 0rem 4rem 0rem;
}
.container-pages{
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding: 2em;
}

/** links **/
.link{
    box-sizing: border-box;
    padding: 0.5rem 0.8rem;
    text-decoration: none;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
    max-width: 140px;
}
.link-secondary{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    color:  var(--primary-color);
}

.line-break{
    margin: 2rem 0rem;
}

/** List **/
ul{
    margin-block-start: 0;
}
.list-nobullets{
    list-style-type: none;
}
.list-item-inline{
    display: inline;
    margin-right: 1rem;
    font-size: var(--font-size);
}

/** nav **/
.navigation{
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: var(--brnad-font-size);
}
.navigation .link{
    color: white;
}
.nav-pills{
    text-align: right;
    padding-left: 0px;
}
.active{
    font-weight: bold;
}

/** header **/
.heading{
    padding: 1rem;
}
.heading .heading-img{
    max-width: 350px;
    display: block;
    margin: auto;
}
.heading .heading-text{
    text-align: center;
    color: var(--dark-grey);
    padding-top: 1rem;
}
.heading-keywords{
    color: var(--primary-color);
}

/** sections **/
.section{
    padding: 2rem;
}
.section-pages{
    margin: 0em;
}
.section h1{
    text-align: center;
    /* padding: 1rem; */
}
.ow{
    background-color: var(--light-grey);
}
.section .heading-project{
    text-align: left;
    padding-bottom: 1rem;
    margin-block-start: 0em;
}

/** footer **/
.footer{
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    color: white;
    text-align: center;
}
.footer-heading{
    font-weight: bold;
    font-size: 1.44rem;
    padding-bottom: 1rem;
}
.contact-div{
    display: flex;
    justify-content: space-around;
    width:800px;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
}
.link-conatct{
    width:1.5em;
}

 /* Media Query  */
@media (max-width: 480px) {
    .nav-brand {
        font-size: var(--fontSize2);
        padding-left: 0em;
        padding-bottom: 1em;
        text-align: center;
    }
    .nav-pills {
        text-align: center;
    }
}